<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- Local feed: pv_logging publishes here on Debug build; NLog.Targets.NetworkJson publishes here too -->
    <add key="local" value="%USERPROFILE%\nuget-packages" />
  </packageSources>
</configuration>